
{{!
    @template block_myacademicplan/main

    This template renders the main content area for the academic block.

    Example context (json):
    {}
}}

<div id="block_academicplan-{{uniqid}}" class="block_academicplan block-cards" data-region="academicplan" role="navigation">

            <div data-region="filter" class="d-flex align-items-center flex-wrap" aria-label="">
               
            </div>

    <div class="container-fluid p-0">
        {{> block_academicplan/view-summary }}
    </div>
</div>
{{#js}}
require(['jquery','block_academicplan/main',],
function($,Main) {
    var root = $('#block_academicplan-{{uniqid}}');
    Main.init(root);
});
{{/js}}
